.product-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 30rem;
    text-decoration: none;
    color: black;
    
    &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }



    &-img {
        max-width: 25rem;

        
    }
    
    &-title {
        font-size: 1.25rem; /* Tamaño de la fuente para el título */
        font-weight: bold; /* Negrita para destacar */
        margin-top: 0.5rem; /* Espacio superior */
        margin-bottom: 0.5rem; /* Espacio inferior */
        text-align: center; /* Centrado del título */
    }

    &-footer {
        display: flex;
        justify-content: space-between;
    }

    &-price {
        font-weight: 700;
    }

    &-discount {
        border: 1px solid #e32b2b;
        border-radius: 4px;
        color: #e32b2b;
        margin-left: 0.5rem;
        font-size: 14px;
        padding: 0 0.125rem;
    }

 }