.product-page {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


    &-carousel {
        width: 50%;
        max-width: 600px;
        padding-right: 1rem;


        img {
            height: 350px;
            object-fit: contain;
            width: 100%;
        }
    }
    &-detail-title {
        font-weight: 750;
        color: #040404;
        margin-bottom: 1rem;
    }

    &-detail-price {
        font-size: 2rem;
        color: #e32b2b;
    }

    &-detail-discount {
        font-size: 1.5rem;
        border: 1px solid #e32b2b;
        border-radius: 4px;
        color: #e32b2b;
        padding: 0 0.25rem;
        background-color: #f5e9e9;
    }

    

    &-body {
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
    }

    &-carousel,
    &-detail-wrapper {
        width: 50%;
        padding: 1rem;
        height: max-content;

        img {
            height: calc(75vh - 48px);
            // aspect-ratio: 3 / 2;
            width: 100%;
            object-fit: cover;
        }
    }

    &-detail-price-wrapper {
        display: flex;
    }

    &-detail-title {
        font-size: 2.5rem;
    }

    &-detail-price {
        font-size: 2rem;
        font-weight: 700;
    }

    &-detail-discount {
        border: 1px solid #e32b2b;
        border-radius: 4px;
        color: #e32b2b;
        margin-left: 0.5rem;
        font-size: 2rem;
        padding: 0 0.125rem;
        display: flex;
        align-items: center;
    }

    &-form {
        display: flex;
        padding: 2rem 0;
        justify-content: start;

        &-quantity {
            display: flex;
            align-items: end;
            padding-right: 2rem;

            label {
                padding-right: 1rem;
            }
        }
    }
}

.select {
    font-size: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    max-width: max-content;

    &.dark {
        background-color: white;
        color: black;
        border-color: black;

        &:hover {
            color: rgb(0, 113, 174);
            border-color: rgb(0, 113, 174);
        }
    }
}