.button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5 px 15 px;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    max-width: max-content;
    
    &-label {
    padding-right: 10px;
    }

    &.dark {
        color: black;
    border-color: black;
    }
}

